<%- include('../cabecalho2') -%>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <form class="form-horizontal" method="POST">
                <div class="fundo-jogo">
                    <img src="/admin/assets/fundojogo2.png" width="1518" height="730" alt="Testando" class="img-fundo-imagem">
                        <div class="fundo-jogo-2">
                            <img src="/admin/assets/fundo-jogo-2.png" width="515" height="587" alt="Testando" class="img-fundo-imagem">
                        <div class="titulo-fundo">
                            <h1 class="label-titulo">SPEED-TEST</h1>
                        </div>
                            

                            <div class="digite-nome">
                                <input type="text" name="nomejogador" id="nomejogador" class="form-control123"
                                placeholder="Digite seu nome:" >
                            </div>

                            
                            
                            <div class="select-categoria">
                                <select name="idQTema" id="idQTema">
                                    <option>Selecione</option>
                                        <%
                                        var primeiro = 1; 
                                        var anterior = -1;
                                        Temas.forEach(function(tema){ %>                                
                                                                
                                                                <% if(tema.idCategoria != anterior || primeiro == 1 ){
                                                                    anterior = tema.idCategoria;
                                                                    primeiro = 0;    
                                                                %>
                                                                    <optgroup name="nometema" id="nometema" label="<%=tema.categoria.nomecategoria%>">
                                                                <% } %>
                                                                
                                                                    <option value="<%=tema.id%>"><%=tema.nometema%></option>
                                                                
                                                                <% if(tema.idCategoria != anterior || primeiro == 1 ){
                                                                    anterior = tema.idCategoria;
                                                                    primeiro = 0;    
                                                                %>
                                                                </optgroup>
                                                                <% } %>
                                
                                                                <%});%>
                                                            
                                                            </select>
                            </div>

                            
    
                            <div class="select-numero">
                
                                <select name="" id="">
                                    
                                    <option value="">Nível 1</option>
                                    <option value="">Nível 2</option>
                                    <option value="">Nível 3</option>
                
                                </select>
                            
                            </div>

                        <form class="form-horizontal" method="POST">   
                            <div class="row clearfix">
                                <div class="botao-proximo">
                                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">Próximo</button>
                                </div>
                            </div>
                        </form> 
                        
                            <% Categorias.forEach(function(categorias){ %>
                                <div class="row clearfix">
                                    <div class="botao-voltar">
                                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Voltar</button>
                                    </div>
                                </div>
                            <%});%>
                        </div>
                    </form>
                </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <div>
                        <table class="table table-hover">
                            <tbody>
                                <%
                                function numberToReal(numero) {
                                    var numero = numero.toFixed(2).split('.');
                                    numero[0] = "R$ " + numero[0].split(/(?=(?:...)*$)/).join('.');
                                    return numero.join(',');
                                }
                                %>
                                
                            </tbody>
                        </table>
                        

                        <form class="form-horizontal" method="POST">
                            <% if(typeof msg !== "undefined"){ %>
                            <div class="alert bg-green alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <%=msg%>
                            </div>
                            <% } %>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Horizontal Layout -->
    </div>
</section>
    <script src="https://cdn.jsdelivr.net/npm/boodstrap@5.0.2/dist/js/boodstrap.bundle.min.js"></script>
<%- include('../rodape') -%>